SETUP_INSTALL_AND_BUILD_ONLY=true
WORDPRESS_AUTOMATION_USER="Bot"
WORDPRESS_AUTOMATION_PASSWORD="password"
WORDPRESS_USER=""
WORDPRESS_USER_EMAIL=""
WORDPRESS_PASSWORD=""

STAGING_SSH_HOST="{{STAGING_SSH_HOST}}"
STAGING_SSH_PORT="{{STAGING_SSH_PORT}}"
STAGING_SSH_USER="{{STAGING_SSH_USER}}"
STAGING_WEB_ROOT="/www/{{KINSTA_FOLDER}}/public/current/public"
STAGING_URL="//{{STAGING_URL}}"

PRODUCTION_SSH_HOST="{{PRODUCTION_SSH_HOST}}"
PRODUCTION_SSH_PORT="{{PRODUCTION_SSH_PORT}}"
PRODUCTION_SSH_USER="{{PRODUCTION_SSH_USER}}"
PRODUCTION_WEB_ROOT="/www/{{KINSTA_FOLDER}}/public/current/public"

MEDIA_DOWNLOAD_MONTHS="-1" # Defaults to -1, which will download all media
MEDIA_DOWNLOAD_PATH="/www/{{KINSTA_FOLDER}}/public/current/public/wp-content/uploads"
MEDIA_DOWNLOAD_LOCAL_PATH="./public/wp-content/uploads/" # Where the uploads folder should sit locally
