SETUP_INSTALL_AND_BUILD_ONLY=true
WORDPRESS_AUTOMATION_USER="Bot"
WORDPRESS_AUTOMATION_PASSWORD="password"
WORDPRESS_USER=""
WORDPRESS_USER_EMAIL=""
WORDPRESS_PASSWORD=""

STAGING_SSH_HOST="{{STAGING_SSH_HOST}}"
STAGING_SSH_PORT="30031"
STAGING_SSH_USERNAME="{{STAGING_SSH_USERNAME}}"
STAGING_URL="//{{STAGING_URL}}"
MEDIA_DOWNLOAD_MONTHS="-1" # Defaults to -1, which will download all media
MEDIA_DOWNLOAD_PATH="/www/{{KINSTA_FOLDER}}/public/current/public/wp-content/uploads"
MEDIA_DOWNLOAD_LOCAL_PATH="./public/wp-content/uploads/" # Where the uploads folder should sit locally
